# Vercel Postgres
POSTGRES_URL=postgresql://username:password@host:port/database?sslmode=require
POSTGRES_PRISMA_URL=postgresql://username:password@host:port/database?sslmode=require&pgbouncer=true&connect_timeout=15
POSTGRES_URL_NON_POOLING=postgresql://username:password@host:port/database?sslmode=require
POSTGRES_USER=username
POSTGRES_HOST=host
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database

# เพิ่มสำหรับ Vercel
DB_HOST=host
DB_PORT=port
DB_NAME=database
DB_USER=username
DB_PASSWORD=password
